@charset "utf-8";
/* CSS Document */
header {
	text-align: center;
}

.login {
	align-items: center;
	justify-content: center;
	position: absolute;
	display: flex;
	text-align: center;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#logo-pharma, #logo-sync {
	display: inline;
}

#logo-sync {
	color: #89CFF0;
}

#login-button {
	margin: auto;
	font-size: 1.5em;
	padding: 0.5em 1.5em;
}
