header {
    text-align: center;
}

.page-header {
  text-align: center;
  padding: 2vw;
}

#logo-pharma, #logo-sync {
    display: inline;
}

#logo-sync {
    color: #89CFF0;
}

#navbar-logo {
  margin-left: 1.15vw;
}

#navbar-button {
  margin-right: 1.15vw;
}

#customer-button, #pharmacy-button {
  
}
